<script type="text/ng-template" id="InfoModal.html">
    <div class="info"><!-- modal -->
        <div class="modal-header"><a class="close" ng-click="cancel()">×</a>

            <h1>Contact</h1>
        </div>
        <div class="modal-body">

           <p>Contact us at mail contact@beebuzy.com</p>

        </div>
    </div>

    <div class="modal-footer"> 
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Pin</button>
    </div>
</script>